/* Todos los párrafos*/

p {
 color: red;
 font-size: 20px;
}

/* Todos los ítulos */

h1 {
    color: rgb(48, 75, 8);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
}

/* Todos los encabezados de tabla */

th {
    color: blue;
 font-size: 25px;
}

/* Todos los datos de tabla */

td {
    color: darkturquoise;
    font-size: 20px;
}

/* Clase Párrafo */

.parrafo {
    color: rgb(143, 112, 40);
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* Clase "textarea" área de texto*/

.textarea{
    background-color: rgb(64, 64, 126);
}

/* Todos los label */

label{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Todos los botones */

button{
    background-color: rgb(0, 255, 255);
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border: 1px solid rgb(238, 0, 255);

}

/* Clase "Géneros" */
.gen{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Clase "intereses" */

.inte{
    color: rgb(50, 50, 187);
}

/* ID "footer"*/
#footer{
    background-color: rgb(62, 6, 6);
}

/* ID "contacto" */

#contacto{
    font-size: 20px;
    color: azure;
}

/* Clase "highlight" */

.highlight{
    background-color: lightyellow;
}

/* ID "header" */
#header{
    font-size: 24px;
    text-align: center;
}

/* Selector de " <input type="text"> " (Todos los campos de texto). */

input[type="text"]{
    border: 2px solid gray;
}

/* Todas las imágenes */

img{
    background-color: rgb(107, 27, 75);
    border: 1px solid blue;
    padding: 10px 10px 10px 10px;
    width: 400px;
    height: 300px;
}

/* Main */
main{
    width: 600px;
    background-color: rgb(34, 34, 52);
    border: 10px solid green;
    margin: 2px;
}

.parr1{
    color: aliceblue;
}